body{

background-color: black;
color:black ;
font-family: Arial, Helvetica, sans-serif;
text-align: center;


}


header{
background-color: rgb(0, 0, 0);
text-align: center;
padding: 10px;

}
h1{
color: rgb(255, 255, 255); 
}

h3{
color: rgb(255, 255, 255);




}

section{

padding-top: 100px;
padding-left: 220px;
padding-right: 122px;

}
p{
color: rgb(255, 255, 255);
margin: 10px;
}